.one {
    background-color: rgb(255, 214, 160);
    height: 90px;

}

.two {
    background-color: cadetblue;
    height: 90px;

}

.three {
    background-color: rgb(255, 214, 160);
    height: 90px;

}

.four {
    background-color: cadetblue;
    height: 90px;

}

.five {
    background-color: rgb(255, 214, 160);
    height: 90px;

}

.six {
    background-color: cadetblue;
    height: 90px;

}

.seven {
    background-color: rgb(255, 214, 160);
    height: 90px;

}

.eight {
    background-color: cadetblue;
    height: 90px;

}

.nine {
    background-color: rgb(255, 214, 160);
    height: 90px;

}

.ten {
    background-color: cadetblue;
    height: 90px;

}